.skeleton-image {
  width: 100% !important;
  height: 70% !important;

  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  background-color: #f2f2f2;
}
