.product-detail-info {
  padding: 20px;
  background-color: white;

  h4 {
    font-size: 1rem;
  }

  .price {
    font-size: 1.5rem;
    font-weight: 300;
  }

  .btn {
    flex-direction: row;

    button {
      margin-right: 20px;
    }
  }
}
