@import "../../styles/antd.less";

.product-item {
  width: 100%;
  height: 100%;

  .image {
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .name {
    margin-top: 10px;
    overflow: hidden;
    height: 44px;
    text-align: center;
    font-weight: 300;
  }

  .price {
    margin-top: 5px;
    font-weight: 300;
    font-size: 0.9rem;
    color: #c48c46;
    text-align: center;
  }
}
